.requestsContainer {
    margin-top: 100px;
    margin-bottom: 50px;
}

.requestCard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.tableWrapper {
    overflow-x: auto;
}

.tableWrapper table {
    margin-top: 20px;
}
